.Toggle-handler {
  border-radius: 100%;
  width: 22px;
  height: 22px;
  transition: transform 200ms;
  cursor: pointer;
}

.Toggle {
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
  width: 64px;
  height: 32px;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  user-select: none;
  transition: background-color 200ms linear;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-checked .Toggle-handler {
    transform: translateX(31px);
  }
}
