.FooterNavigationAction {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  transition: color 0.25s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.is-active {
    color: var(--accent-primary);

    &:hover {
      background-color: rgba(77, 160, 255, 0.08);
    }
  }

  .Icon {
    margin-bottom: 2px;
  }

  span {
    font-size: 10px;
  }
}
