@import 'theme.css';

html,
body {
  touch-action: manipulation;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: var(--text-size);
  font-family: var(--font-family);
  font-weight: var(--text-regular);
  color: var(--text-primary-color);
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  /* overflow: hidden; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px var(--background-primary) inset !important;
}

#root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
