<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#4da1ff" />
    <meta name="description" content="TeamUp" />
    <title>TeamUp</title>
    <script>
      var link = document.createElement('link');
      var preload =
        link.relList && link.relList.supports ? link.relList.supports('preload') : false;

      if (!preload) {
        link.rel = 'stylesheet';
        link.href = 'https://fonts.googleapis.com/css?family=Lato:400,700';
        document.head.appendChild(link);
      }
    </script>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      as="style"
      onload="this.rel='stylesheet'"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
