:root {
  --outline: 0 0 1px 1px rgba(77, 161, 255, 0.2);
  --shadow-primary: 0 8px 4px 0 rgba(63, 196, 241, 0.15);
  --shadow-secondary: 0 8px 4px 0 rgba(184, 231, 115, 0.15);

  /* Colors from design */
  --o-color-navy: #092c4c;
  --o-color-light-blue: #3fc4f1;
  --o-color-dull-blue: #3199b5;
  --o-color-dull-green: #9dbf60;
  --o-color-light-green: #b8e773;
  --o-color-warning: #fd6e6e;
  --o-color-darker-gray: #536476;
  --o-color-dark-gray: #7f92a3;
  --o-color-gray: #d7e0e7;
  --o-color-light-gray: #ebeef3;
  --o-color-white: #fff;

  /* Blockle Blocks */

  /* Spacing */
  --space-gutter: 16px;
  --space-xsmall: 4px;
  --space-small: 8px;
  --space-medium: 12px;
  --space-large: 20px;
  --space-xlarge: 36px;

  /* Font famlily */
  --font-family: 'Lato', sans-serif;

  /* Font size */
  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-xlarge: 20px;

  /* Font weight */
  --weight-normal: 400;
  --weight-bold: 700;

  /* Colors */
  --color-primary: var(--o-color-light-blue);
  --color-secondary: var(--o-color-dull-blue);
  --color-success: var(--o-color-light-green);
  --color-warning: var(--o-color-warning);
  --color-black: var(--o-color-navy);
  --color-white: #fff;
  --color-gray: var(--o-color-dark-gray);
  --color-light-gray: var(--o-color-gray);
  --color-danger: var(--o-color-warning);

  /* Shadows */
  --shadow-1: 0 1px 4px rgba(0, 0, 0, 0.12);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19);
}
